---
layout: default-with-toolbar
title: Stadiums List | Countdown for the 2018 World Cup in Russia.
description: A list of all the stadiums of the 2018 World Cup.
keywords: russia_stadiums_list,stadiums,list,worldcup2018countdown,wc2018countdown,countdown2018fwc,fifaworldcup,russia2018
image_url: https://worldcup2018countdown.github.io/assets/images/share-page-images/index.png
image_alt: Stadiums list page screenshot
page_css_class: wide cities-list
toolbar_heading: Stadiums
additional_stylesheets: 
additional_scripts:
---

<div class="hero-with-separator">
    <h2>12 Stadiums</h2>
    <div class="fancy-separator"></div>
    <h2>11 Cities</h2>
</div>
<div class="intro">
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos tempora odio, voluptatum, explicabo velit minima omnis modi, dolorem voluptas possimus tenetur! Commodi ratione natus dolores ea, voluptas id necessitatibus eveniet!
    </p>
</div>

<div class="cards-container two-column-at-600 three-column-at-900">
    {% for stadium_hash in site.data.stadiums %}
    {% assign stadium = stadium_hash[1] %}
        {% include wide-card.html info=stadium %}
    {% endfor %}
</div>
