---
layout: default-with-toolbar
title: Teams List | Countdown for the 2018 World Cup in Russia.
description: List of all the teams taking part in the 2018 FIFA World Cup, and their rank, pot and additional information. Order them according to either category.
keywords: teams,list,teams_list,worldcup2018countdown,wc2018countdown,countdown2018fwc,fifaworldcup,russia2018
image_url: https://worldcup2018countdown.github.io/assets/images/share-page-images/index.png
image_alt: Teams List page screenshot
page_css_class: 
toolbar_heading: Teams List
additional_stylesheets: 
additional_scripts: ["/assets/js/teams-list.js"]
---

<div class="separator-heading">
    <div class="head">
        <h2>32 Countries</h2>
    </div>
    <div class="fancy-separator"></div>
    <div class="body">
        <h3>5 Continents</h3>
    </div>
</div>

<div class="main-paragraph">
    <p>
        There 32 teams who have qualified from 6 continents and the qualifying started over 4334 days ago. Here are the teams:
    </p>
</div>

<div class="rounded-bar rearranger">
    <span>Order by:</span>
    <select name="order-countries-by" id="order-countries">
        <option value="Group">Group</option>
        <option value="Rank">Rank</option>
        <option value="Trophies">Trophies</option>
        <option value="Pot">Pot</option>
        <option value="Confederation">Confederation</option>
        <option value="Population">Population</option>
        <option value="Appearance">Appearance</option>
        <option value="Name">Alphabet</option>
    </select>
    <div id="asc-or-desc" class="asc">
        <button id="asc" title="List in ascending order">&#9650;</button>
        <button id="desc" title="List in descending order">&#9660;</button>
    </div>
</div>

<div>
    <label for="hide-country-meta">
        <p>
            Hide country information 
            <input type="checkbox" name="" id="hide-country-meta">
        </p>
    </label>
</div>

<div class="fancy-buttons-list show-meta">
    {% for team in site.data.teams %}

    {% include team-fancy-button.html team=team %}

    {% endfor %}
</div>
