<footer class="custom-scrollbar">
    <nav>
        <span class="footer-link"><a href="/"> Home </a></span>
        <span class="footer-link"><a href="/dates.html"> Dates </a></span>
        <span class="footer-link"><a href="/teams-list.html"> Teams </a></span>
        <span class="footer-link"><a href="/cities-list.html"> Cities </a></span>
        <span class="footer-link"><a href="/stadiums-list.html"> Stadiums </a></span>
        <span class="footer-link"><a href="/tournament-facts.html"> Facts </a></span>
        <span class="footer-link"><a href="/social-feeds.html"> Social </a></span>
        <span class="footer-link"><a href="/useful-links.html"> Links </a></span>
        <span class="footer-link"><a href="/countdown.html"> Countdown </a></span>
        <span class="footer-link"><a href="/about.html"> About </a></span>
        <span class="footer-link"><a href="/sitemap.html"> Sitemap </a></span>
    </nav>
</footer>