.date-header {
    color: blue;
    color: var(--app-blue);
    font-size: 2.4rem;
}

.fancy-separator {
    margin: 1em 0;
}

#rest-day-wrapper {
    color: var(--app-gold);
    border: solid 2px;
    border-radius: 4px;
    margin-bottom: 2rem;
    background-color: var(--app-accent-blue);
    font-size: 3rem;
}

#rest-day-wrapper.hide {
    display: none;
}
#rest-day-wrapper + label {
    display: none;
}
#rest-day-wrapper.hide + label {
    display: block;
}