/* Modal styles from https://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: var(--app-dark-accent-blue);
    margin: 15% auto;
    margin: 3rem auto;
    padding: 20px;
    border: 2px solid var(--app-gold);
    border-radius: 4px;
    width: 80%;
    position: relative;
}

/* The Close Button */
.close {
    position: absolute;
    color: var(--app-bg-gray);
    /* float: right; */
    font-size: 2rem;
    font-weight: bold;
    right: 1rem;
    top: 0;
}

.close:hover,
.close:focus {
    color: var(--app-bg-white);
    text-decoration: none;
    cursor: pointer;
}