.app-container.team {
    max-width: 960px;
}
@media screen and (max-width: 540px){
    .app-container.team {
        width: 100%;
    }
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

.next-match-area p  {
    margin: 1rem 0 0.25rem;
    color: var(--app-gold);
}

.narrow-card.match-card {
    margin: 0;
}
.collapser.reveal .collapse-body {
    max-height: 50rem;
    max-height: 100rem;
}

.group-plain-card {
    display:  flex;
    justify-content:  space-around;
    align-items:  center;
}

.group-plain-card .vertical-separator {
    padding: 1px;
    border-right: solid 1px var(--app-gold);
    width: 1px;
    height: 3rem;
}

.group-letter {
    font-size: 5rem;
    width: 16%;
    text-align: right;
}

.group-teams {
    width: 60%;
}
.group-team-item p {
    margin: 0.5rem;
    letter-spacing: 1px;
    border: solid 1px var(--app-gold);
    border-radius: 4px;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    /* width: 100%; */
    background-color: #a70009cc;
}

.match-meta-details {
    display:  flex;
    justify-content:  space-around;
    flex-direction:  column;
    background-color:  var(--app-blue);
    border-top-left-radius:  4px;
    border-top-right-radius:  4px;
    padding: 4px;
}
.match-item {
    border:  solid 1px;
    border-radius: 4px;
    margin: 0.25rem 0;
    position: relative;
}

a {
    color: var(--app-gold);
    text-decoration: none;
}

a.golden {
    transition: color 200ms linear;
}
a.golden:hover {
    color: goldenrod;
    text-decoration: underline;
}

.match-links {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    padding: 4px 0;
    border-top: solid 1px #424242;
    position: absolute;
    width: 100%;
}
.match-item:hover .match-links {
    background-color: var(--app-blue);
}
.match-item:hover .match-links a {
    color: var(--app-gold);
}
.match-links a {
    color: transparent;
    font-size: 0.8rem;
}
.match-item:hover .match-links a:hover,
.match-item:hover .match-links a:focus,
.match-item:hover .match-links a:active {
    color: white;
    text-decoration: underline;
}     

.match-main-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem 0;
    /*padding-top: 0.75rem;*/
    /*background-color: #a70009cc;*/
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.match-main-details .team-name {
    display: inline-block;
    width: 40%;
}

.vs-or-results.vs .results,
.vs-or-results.results .vs {display: none;}

.squad-member {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    border-bottom: solid 1px var(--app-gold);
    background-color: #a70009cc;
    font-size: 1.2rem;
}
.squad-member:last-child {border-bottom: none;}

.squad-member.coach {
    color: whitesmoke;
    font-size: 1.4rem;
}

.base-address {
    background-color: #a70009cc;
    padding: 0.5rem 0.25rem;
    border-radius: 4px;
}